<div class="container p-0">
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark pr-4" style="border-radius: 40px;">
        <a routerLink="/" routerLinkActive="active" class="navbar-brand text-warning d-flex align-items-center h1"> <i class="fas fa-angry fa-fw fa-2x"></i>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#responsiveNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="responsiveNavbar">
            <div class="navbar-nav mr-auto">
                <a class="nav-link font-weight-bolder" routerLink="/home" routerLinkActive="active">Home</a>
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About us</a>
                <a class="nav-link" routerLink="/service" routerLinkActive="active">Services</a>
                <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
                <a class="nav-link" routerLink="/producttwo" routerLinkActive="active">Product +2</a>
                <a class="nav-link" routerLink="/productthree" routerLinkActive="active">Product +3</a>
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact us</a>
            </div>
            <form role="form" class="form-inline justify-content-center">
                <input type="text" class="form-control mr-1" placeholder="Search">
                <button type="button" class="btn btn-warning">Search</button>
            </form>
        </div>

    </nav>

</div>
